.gridWrapper {
    display: flex;
}

.gridContainer {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    gap: 1px;
    background-color: grey;
    border: 2px solid grey;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .gridWrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        width: 250px;
        height: 250px;
    }
}
